{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello World!</h1>


    {{ number }}
    <br>
    Zalogowany użytkownik to: {{ app.user }}

    {% if app.user %}
        <a href="{{ path('fos_user_security_logout') }}">Wyloguj się</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Zaloguj się</a>
    {% endif %}

{% endblock %}